.mar_0 {
  margin: 0px;
}
.width_100p {
  width: 100%;
}
.text_align_right {
  text-align: right;
}
.mar_b_20 {
  margin-bottom: 20px;
}
.bg-indigo-500 {
  background-color: #19384c !important;
}
.lang-toggle {
  margin: 0px 0px 16px 0px;
  display: flex;
  justify-content: flex-end;
  width: 100%;
}
.input {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
}

.btn {
  padding: 0.5rem 1rem;
  border: 1px solid gray;
  border-radius: 0.5rem;
  background: white;
  cursor: pointer;
  color: #19384c;
}

.btn_disabled {
  opacity: 0.3;
}

.btn-primary {
  background: #19384c;
  color: white;
}

.btn-active {
  background: #19384c;
  color: white;
}
.color_main {
  background-color: #19384c !important;
}
.border_main_1 {
  border: 1px solid #19384c !important;
}
.txt_color_main {
  color: #19384c !important;
}
.rounded-full {
  border-radius: calc(infinity * 1px) !important;
}

.bg-red-100 {
  background-color: #ffe2e2 !important;
}
.border-red-500 {
  border-color: #fb2c36 !important;
}
.bg-green-100 {
  background-color: #dcfce7 !important;
}
.border-green-500 {
  border-color: #00c951 !important;
}
.animate_bounce_2{
  animation: bounce_2 1s infinite;
}
@keyframes bounce_2 {
  0%,
  100% {
    transform: translateY(-50%) ;
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
  50% {
    transform: none;
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}
