.mar_0 {
    margin: 0px;
}
.width_100p{
    width: 100%
}
.text_align_right{
    text-align: right;
}
.mar_b_20{
    margin-bottom: 20px;
}
.bg-indigo-500 {
    background-color: var(--color-indigo-500) !important;
}