.mar_0 {
  margin: 0px;
}
.width_100p {
  width: 100%;
}
.text_align_right {
  text-align: right;
}
.mar_b_20 {
  margin-bottom: 20px;
}
.bg-indigo-500 {
  background-color: #19384C !important;
}
.lang-toggle {
  margin: 0px 0px 16px 0px;
  display: flex;
  justify-content: flex-end;
  width: 100%;
}
.input {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
}

.btn {
  padding: 0.5rem 1rem;
  border: 1px solid gray;
  border-radius: 0.5rem;
  background: white;
  cursor: pointer;
}

.btn-primary {
  background: #19384C;
  color: white;
}

.btn-active {
  background: #19384C;
  color: white;
}
.color_main{
  background-color: #19384C !important;
}
.border_main_1{
  border: 1px solid #19384C !important;
}
.txt_color_main{
  color: #19384C !important;
}
.rounded-full{
  border-radius: calc(infinity * 1px) !important;
}

.bg-red-100 {
    background-color: #ffe2e2 !important;
}
.border-red-500 {
    border-color: #fb2c36 !important;
}
.bg-green-100 {
    background-color: #dcfce7 !important;
}
.border-green-500 {
    border-color: #00c951 !important;
}